[submodule "vim.symlink/pack/plugins/start/ale"]
	path = vim.symlink/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim.symlink/pack/themes/start/dracula"]
	path = vim.symlink/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim.symlink/pack/plugins/start/typescript-vim"]
	path = vim.symlink/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim.symlink/pack/plugins/start/vim-rspec"]
	path = vim.symlink/pack/plugins/start/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
