"*":
  editor:
    fontFamily: "Menlo"
    showIndentGuide: true
    tabLength: 2
    invisibles: {}
    preferredLineLength: 120
    softWrap: true
    fontSize: 14
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "symbols-view"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "go-plus": {}
  "tree-view": {}
  react: {}
  "atom-beautify":
    _analyticsUserId: "cd7896cc-a009-4464-8536-4fc33b4c0706"
  "linter-eslint":
    eslintRulesDir: "client"
    disableWhenNoEslintrcFileInPath: true
  linter:
    lintOnChangeInterval: 2000
    subtleLinterErrors: [
      "rubocop"
    ]
  "atom-ctags":
    cmdArgs: "--exclude app/assets/javascripts/bundle* --exclude client/node_modules"
  "linter-rubocop": {}
