"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "symbols-view"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 2
  "go-plus": {}
  linter:
    lintOnChangeInterval: 2000
    subtleLinterErrors: [
      "rubocop"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    eslintRulesDir: "client"
  "linter-rubocop": {}
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
