'.source.coffee':
  'React component':
    'prefix': 'rcom'
    'body': '''
      React = require 'react'

      module.exports = React.createClass

        render: ->
          $1

    '''

'.source.jsx':
  'React Component':
    'prefix': 'rcom'
    'body': '''
      import React from 'react'

      let $1 = React.createClass({
        render() {
          $2
        }
      })

      export default $1
    '''

'.source.ruby':
  'Rails model':
    'prefix': 'rmod'
    'body': '''
      class $1 < ActiveRecord::Base
        $2
      end
    '''

  'Rails controller':
    'prefix': 'rcon'
    'body': '''
      class $1Controller < ApplicationController
        $2
      end
    '''

  'Rails API controller':
    'prefix': 'rapi'
    'body': '''
      module API
        class $1Controller < BaseController
          $2
        end
      end
    '''
